/* First we Format everything */
* {
  margin: 0;
}

body {
  background-color: #f5f6fa; /*grey variation */
}

.app {
  display: flex;
  justify-content: space-evenly;
  padding: 20px;
}
.app__header {
  display: flex; /* this by default pushes elements to a row */
  /* flex-direction: row; */ /*Same as above*/
  align-items: center; /*The text drops a small space down a little*/
  margin-bottom: 20px;
  justify-content: space-between; /*puts space in between children*/
} 

.app__left {
  flex: 0.9; /*app__left here uses 90% of the screen */
}

.app__stats {
  display: flex;
  justify-content: space-between;
}

@media (max-width: 990px) {
  .app {
    flex-direction: column;
  }
}